################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Libraries
/VS.2015/Release
/VS.2015/.vs/Barony/v16
/build
/src/Config.hpp
